In [2]:
# Float
print (0.4)
print(.4)
print(2.3e6)  # 2,3 kali 10 pangkat 6 
print(5e-4)  # 5 kali 10 pangkat 4

0.4
0.4
2300000.0
0.0005

In [3]:
# String
print('This string contains a qoute (")')

This string contains a qoute (")

In [4]:
# Boolean
print(True)
print(False)

True
False

In [ ]:
string

In [5]:
a = 7
print(type(a))

<class 'int'>

In [8]:
# COMPARISON
a = 10
b = 20

# untuk membandingkan apakah a == b
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False

30 == 40

In [9]:
20==20

True

In [10]:
30 == 70

False

In [17]:
# STRING MANIPULATION
a = 'abc'
b = 'def'
c = 'hij'

In [18]:
print(a+" "+b)

abc def

In [20]:
s = 'foo'

# in untuk mengecek adakah bagian dari string tersebut di kalimatnya
s in "That is good for us"

False

In [24]:
# Nilai karakter pake ascii

"one" > "two"

False

In [28]:
# Sesuai urutan abjadlah ya
"cc" > "bb"

True

In [32]:
"aaaaaa" < "aaaab"

True

In [31]:
"aaaaaaaaaaaaaaa" > "aaaaa"

True

In [35]:
dictionary2 = {
    'Liverpool': 'Liverpool FC',
    'Manchaster': 'Manchaster City',
    'London': 'Arsenal FC'
}